@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

footer{
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  background-color: white;
}

.container{
  width: 100%;
}

.website-name{
  font-family: 'Henny Penny', cursive;
  font-size: 2em;
  color: red;
}
