@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
 }

*:before,
*:after {
 box-sizing: border-box;
}

body, #root{
  height: 100%;
  margin: 0px;
}

footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: bold;
}

.navbar{
  background-color: white;
}



.container{
  width: 100%;
}

.fill{
  min-height: 100vh;
  height: 100%;
}

.website-name{
  font-family: 'Henny Penny', cursive;
  font-size: 2em;
}


/* Products */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.products li {
  flex: 0 1 15rem;
  padding: 1rem;
  margin: 0rem;
  height: 25rem;
  /* border: black; */
  /* border-style: solid; */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product a{
  color: black;
}

.product img{
  height: 15rem;
  width: 15rem;
}


.product-price{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-price div{
  font-weight: bold;
  font-size: 1.5em;
}

.product-price div,
.product-price button {
  text-align: center;
}

.btn {
  font-size: 1.2em;
  background-color: brown;
  color: white;
}

/* Filter */
.filter {
  display: inline;  
  justify-content: space-between;
  align-items: center ;
}

.filter-item {
  margin: 1em;
  font-size: 15px;
}

.filter-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-item div{
  margin-bottom: 0.5em;
  font-weight: bold;
}

.product-category{
  font-family: 'Kaushan Script', cursive;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  text-shadow: 2px 2px 4px #000000;
}